In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import re
import os
# Use CZ_NAME in Details -- need cleanning on wording -- as county name
# no need to merge location files
# upload the 1985-2000 files

In [24]:

def load_storm_data():
    # Replace 'Storm Data 2000' with the exact folder name you see in VSCode
    folder_path = "/Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Storm Data 1985-2024"  
    pattern = os.path.join(folder_path, "StormDetail_*.csv")  # This looks for any CSV in that folder
    
    csv_files = glob.glob(pattern)  # Returns a list of all matching CSV file paths
    
    dataframes = []
    for file_path in csv_files:
        df = pd.read_csv(file_path)
        dataframes.append(df)
    
    if dataframes:
        # Combine all individual CSV DataFrames into one big DataFrame
        combined_df = pd.concat(dataframes, ignore_index=True)
        return combined_df
    else:
        # If no files are found or the folder is empty, return an empty DataFrame
        return pd.DataFrame()

storm_df = load_storm_data()

/var/folders/mp/gmc62dp11n708wvtvkhzfldc0000gn/T/ipykernel_40795/1470834919.py:10: DtypeWarning: Columns (29,34,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/mp/gmc62dp11n708wvtvkhzfldc0000gn/T/ipykernel_40795/1470834919.py:10: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/mp/gmc62dp11n708wvtvkhzfldc0000gn/T/ipykernel_40795/1470834919.py:10: DtypeWarning: Columns (26,48) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/mp/gmc62dp11n708wvtvkhzfldc0000gn/T/ipykernel_40795/1470834919.py:10: DtypeWarning: Columns (26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/mp/gmc62dp11n708wvtvkhzfldc0000gn/T/ipykernel_40795/1470834919.py:10: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

In [46]:
def load_selected_storm_data(folder_path, years=[1996, 2024]):
    dataframes = []
    for year in years:
        file_path = os.path.join(folder_path, f"StormDetail_{year}.csv")
        if os.path.exists(file_path):
            df = pd.read_csv(file_path)
            dataframes.append(df)
        else:
            print(f"File for year {year} does not exist.")
    
    if dataframes:
        return pd.concat(dataframes, ignore_index=True)
    else:
        return pd.DataFrame()

# Usage
folder_path = "/Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Storm Data 1985-2024"
selected_storm_df = load_selected_storm_data(folder_path)

selected_storm_df.tail()

/var/folders/mp/gmc62dp11n708wvtvkhzfldc0000gn/T/ipykernel_40795/1668773538.py:6: DtypeWarning: Columns (26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
112888,202407,4,1500,202407,4,1600,195150.0,1206283,ALABAMA,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Heat index values reached 105 to 109 degrees f...,The heat index peaked at 110 degrees for a sho...,CSV
112889,202407,4,1100,202407,4,1800,195150.0,1206284,ALABAMA,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Heat index values reached 105 to 109 degrees f...,The heat index reached 105 to 109 degrees.,CSV
112890,202407,6,1258,202407,6,1258,192857.0,1198392,NEBRASKA,31,...,8.0,SW,LEXINGTON ARPT,40.71,-99.88,40.71,-99.8800,"A broad, upper trough was over most of the cou...",NaN,CSV
112891,202407,6,1523,202407,6,1535,192857.0,1198427,NEBRASKA,31,...,1.0,SE,HASTINGS,40.60,-98.43,40.57,-98.3696,"A broad, upper trough was over most of the cou...",A wind gust of 69 MPH was measured by the Hast...,CSV
112892,202407,6,1645,202407,6,1645,192857.0,1198773,NEBRASKA,31,...,1.0,NW,GENEVA,40.54,-97.59,40.54,-97.5900,"A broad, upper trough was over most of the cou...",NaN,CSV

In [47]:
selected_storm_df = selected_storm_df[["YEAR", "EVENT_ID", "CZ_NAME", "STATE","EVENT_TYPE", "BEGIN_DATE_TIME", "END_DATE_TIME"]]
selected_storm_df = selected_storm_df[
    ((selected_storm_df["EVENT_TYPE"] == "Flood") | 
     (selected_storm_df["EVENT_TYPE"] == "Flash Flood") | 
     (selected_storm_df["EVENT_TYPE"] == "Coastal Flood")) &
    (selected_storm_df["STATE"] == "GEORGIA")
]
selected_storm_df.head()

,YEAR,EVENT_ID,CZ_NAME,STATE,EVENT_TYPE,BEGIN_DATE_TIME,END_DATE_TIME
1044,1996,5536010,COBB,GEORGIA,Flash Flood,26-JAN-96 22:55:00,26-JAN-96 22:55:00
1460,1996,5536004,GILMER,GEORGIA,Flash Flood,26-JAN-96 19:00:00,26-JAN-96 21:00:00
1466,1996,5536005,CATOOSA,GEORGIA,Flash Flood,26-JAN-96 20:50:00,26-JAN-96 20:50:00
1467,1996,5536006,WHITE,GEORGIA,Flash Flood,26-JAN-96 21:00:00,26-JAN-96 21:00:00
1755,1996,5536011,UNION,GEORGIA,Flash Flood,26-JAN-96 23:00:00,27-JAN-96 00:00:00

In [48]:

selected_storm_df["year"] = pd.to_datetime(selected_storm_df["BEGIN_DATE_TIME"], errors="coerce").dt.year

# Group by 'year' and 'CZ_NAME' and count the number of events (using EVENT_ID)
event_counts = selected_storm_df.groupby(["year", "CZ_NAME"], as_index=False)["EVENT_ID"].count()
event_counts.rename(columns={"EVENT_ID": "event_count"}, inplace=True)

print(event_counts)

/var/folders/mp/gmc62dp11n708wvtvkhzfldc0000gn/T/ipykernel_40795/2444689808.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  selected_storm_df["year"] = pd.to_datetime(selected_storm_df["BEGIN_DATE_TIME"], errors="coerce").dt.year

    year   CZ_NAME  event_count
0   1996     BUTTS            1
1   1996    CAMDEN            1
2   1996   CARROLL            1
3   1996   CATOOSA            1
4   1996  CHARLTON            2
..   ...       ...          ...
84  2024     TROUP            1
85  2024    TURNER            5
86  2024    WALTON            2
87  2024     WAYNE            1
88  2024     WORTH            8

[89 rows x 3 columns]

In [52]:
count_1996 = event_counts[event_counts["year"] == 1996]
count_2024 = event_counts[event_counts["year"] == 2024]

merged_counts = pd.merge(count_1996, count_2024, on="CZ_NAME", suffixes=("_1996", "_2024"))

merged_counts["rate_change_percent"] = ((merged_counts["event_count_2024"] - merged_counts["event_count_1996"]) /
                                          merged_counts["event_count_1996"]) * 100

merged_counts

,year_1996,CZ_NAME,event_count_1996,year_2024,event_count_2024,rate_change_percent
0,1996,CAMDEN,1,2024,3,200.000000
1,1996,CHATHAM,2,2024,4,100.000000
2,1996,COLUMBIA,2,2024,7,250.000000
3,1996,ELBERT,1,2024,1,0.000000
4,1996,HABERSHAM,4,2024,3,-25.000000
5,1996,PIKE,1,2024,10,900.000000
6,1996,RABUN,3,2024,2,-33.333333
7,1996,RICHMOND,1,2024,1,0.000000
8,1996,SPALDING,1,2024,1,0.000000
9,1996,TALBOT,1,2024,2,100.000000

In [53]:
merged_counts.to_csv("rate_change_per_county_Storm.csv", index=False)

In [ ]:


 # def load_location_data(folder_path):
    """
    1) Loads all 'StormEvents_locations-ftp_v1.0_dXXXX_*.csv' files from 'folder_path'.
    2) Concatenates them into a single DataFrame.
    3) Renames each file from 'StormEvents_locations-ftp_v1.0_dYYYY_c...csv'
       to 'Location_YYYY.csv'.
    """

    # Construct the pattern to find files
    pattern = os.path.join(folder_path, "*.csv")
    csv_files = glob.glob(pattern)

    # Load them into a list of DataFrames
    dataframes = []
    for file_path in csv_files:
        location = pd.read_csv(file_path)
        dataframes.append(location)

    # Rename each file based on the 4-digit year in the pattern 'dYYYY'
    for file_path in csv_files:
        file_name = os.path.basename(file_path)
        match = re.search(r"_d(\d{4})_", file_name)
        if match:
            year = match.group(1)  # e.g., '2018'
            new_file_name = f"Location_{year}.csv"
            new_file_path = os.path.join(folder_path, new_file_name)
            
            # Rename on disk
            os.rename(file_path, new_file_path)
            print(f"Renamed '{file_name}' -> '{new_file_name}'")
        else:
            print(f"Could not find year in '{file_name}' (no rename done).")

    # Combine all DataFrames into one
    if dataframes:
        combined_location = pd.concat(dataframes, ignore_index=True)
        return combined_location
    else:
        return pd.DataFrame()


folder = "/Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024"
location_df = load_location_data(folder)
print(location_df.head())

Could not find year in 'Location_2011.csv' (no rename done).
Could not find year in 'Location_2005.csv' (no rename done).
Could not find year in 'Location_2004.csv' (no rename done).
Could not find year in 'Location_2010.csv' (no rename done).
Could not find year in 'Location_2006.csv' (no rename done).
Could not find year in 'Location_2012.csv' (no rename done).
Could not find year in 'Location_2017.csv' (no rename done).
Could not find year in 'Location_2002.csv' (no rename done).
Could not find year in 'Location_2014.csv' (no rename done).
Could not find year in 'Location_2015.csv' (no rename done).
Could not find year in 'Location_2024.csv' (no rename done).
Could not find year in 'Location_2018.csv' (no rename done).
Could not find year in 'Location_2022.csv' (no rename done).
Could not find year in 'Location_2023.csv' (no rename done).
Could not find year in 'Location_2021.csv' (no rename done).
Could not find year in 'Location_2008.csv' (no rename done).
   YEARMONTH  EPISODE_ID  EVENT_ID  LOCATION_INDEX  RANGE AZIMUTH   LOCATION  \
0     201104       48862    285976               1   0.57       E    GILLHAM
1     201104       48862    285978               1   2.39     ESE  CENTER PT
2     201104       48862    285979               1   0.00       N   DE QUEEN
3     201104       48862    285980               1   0.90      NW   DE QUEEN
4     201104       48862    285981               1   0.57       E       DIAN

   LATITUDE  LONGITUDE       LAT2       LON2
0     34.17     -94.31  3410200.0  9418600.0
1     34.02     -93.89   341200.0  9353400.0
2     34.03     -94.33   341800.0  9419800.0
3     34.04     -94.34   342400.0  9420400.0
4     33.80     -93.39  3348000.0  9323400.0

In [ ]:
# def select_event_location_columns(df):
    """
    Given a DataFrame from your location files,
    this function returns a new DataFrame containing only the
    'EVENT_ID' and 'LOCATION' columns.
    
    If the columns are named differently (e.g., 'Location' instead of 'LOCATION'),
    update the column names accordingly.
    """
    # Select only the desired columns.
    # Adjust the names if your actual DataFrame has a different case/spelling.
    selected_df = df[['EVENT_ID', 'LOCATION']]
    
    return selected_df


selected_location_df = select_event_location_columns(location_df)
print(selected_location_df.head())

   EVENT_ID   LOCATION
0    285976    GILLHAM
1    285978  CENTER PT
2    285979   DE QUEEN
3    285980   DE QUEEN
4    285981       DIAN

In [ ]:
# def merge_storm_detail_location(storm_detail_folder, location_folder):
    """
    For each StormDetail_XXXX.csv file in storm_detail_folder, this function:
      1. Extracts the year (XXXX) from the filename.
      2. Looks for a corresponding Location_XXXX.csv file in location_folder.
      3. Loads both CSVs.
      4. Merges them on 'EVENT_ID'.
      5. Selects only the 'EVENT_ID' and 'location' columns.
    
    It returns a combined DataFrame with merged data for all years.
    """
    # Pattern for storm detail files: e.g., StormDetail_2000.csv, StormDetail_2001.csv, etc.
    storm_pattern = os.path.join(storm_detail_folder, "StormDetail_*.csv")
    storm_files = glob.glob(storm_pattern)
    
    merged_list = []
    
    for storm_file in storm_files:
        # Extract the 4-digit year from the filename
        base_name = os.path.basename(storm_file)
        match = re.search(r"StormDetail_(\d{4})\.csv", base_name)
        if match:
            year = match.group(1)
            # Construct the expected location file name for that year.
            location_file = os.path.join(location_folder, f"Location_{year}.csv")
            
            if os.path.exists(location_file):
                # Load the two dataframes.
                storm_df = pd.read_csv(storm_file)
                location_df = pd.read_csv(location_file)
                
                # Merge them on EVENT_ID.
                merged_df = pd.merge(storm_df, location_df, on='EVENT_ID', how='inner')
                
                # Select only the EVENT_ID and location columns.
                # (Assumes location_df already has the 'location' column; if not, 
                # you may need to rename the appropriate column first.)
                merged_df = merged_df[['STATE', 'LOCATION', 'EVENT_TYPE', 'EVENT_ID']]
                
                merged_list.append(merged_df)
            else:
                print(f"Location file for year {year} not found in {location_folder}.")
        else:
            print(f"Year not found in file name: {base_name}")
    
    if merged_list:
        # Combine all merged DataFrames into one.
        final_merged = pd.concat(merged_list, ignore_index=True)
        return final_merged
    else:
        return pd.DataFrame()


storm_detail_folder = "/Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Storm Data 1985-2024"
location_folder = "/Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024"

merged_data = merge_storm_detail_location(storm_detail_folder, location_folder)
print(merged_data.head())

Location file for year 2007 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 2013 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.

/var/folders/mp/gmc62dp11n708wvtvkhzfldc0000gn/T/ipykernel_40795/1149701510.py:29: DtypeWarning: Columns (29,34,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  storm_df = pd.read_csv(storm_file)

Location file for year 2016 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 2003 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 2001 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 2000 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 1988 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 1989 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 1999 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 1998 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 1995 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 1994 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 1996 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 1997 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 1993 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 1987 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 1986 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 1992 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 1990 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 1991 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 1985 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 2019 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 2020 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 2009 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
     STATE        LOCATION   EVENT_TYPE  EVENT_ID
0  FLORIDA  SOUTH FLOMATON  Flash Flood    213816
1  FLORIDA  SOUTH FLOMATON  Flash Flood    213816
2  FLORIDA  SOUTH FLOMATON  Flash Flood    213816
3  FLORIDA  SOUTH FLOMATON  Flash Flood    213816
4     IOWA    NEW HARTFORD        Flood    214762

In [ ]:
# NEW CODE CELL

#def filter_storm_data(merged_data):
    """
    Filters the DataFrame so that:
      - Only rows where STATE == 'GEORGIA' 
      - Only rows where EVENT_TYPE is in ['flash flood', 'coastal flood', 'flood']
      - Keeps only the columns ['STATE', 'LOCATION_ID']
    """
    # Filter rows
    filtered_df = merged_data[
        (merged_data["STATE"] == "GEORGIA") &
        ((merged_data['EVENT_TYPE'] == 'Flash Flood') | 
              (merged_data['EVENT_TYPE'] == 'Coastal Flood') |
              (merged_data['EVENT_TYPE'] == 'Flood') )
    ]
    
    # Select only the desired columns
    filtered_df = filtered_df[["STATE", "LOCATION", "EVENT_TYPE", "EVENT_ID"]]
    
    return filtered_df


filtered_storm_df = filter_storm_data(merged_data)
print(filtered_storm_df.head())

        STATE     LOCATION   EVENT_TYPE  EVENT_ID
6152  GEORGIA  CENTRAL JCT  Flash Flood    246410
6153  GEORGIA  CENTRAL JCT  Flash Flood    246410
6154  GEORGIA     SAVANNAH  Flash Flood    246410
6155  GEORGIA     SAVANNAH  Flash Flood    246410
8623  GEORGIA      CLAXTON  Flash Flood    235603

In [ ]:
# def count_event_ids_by_location(df):
    """
    Given a DataFrame with 'LOCATION' and 'EVENT_ID' columns,
    groups by LOCATION and counts the number of EVENT_ID occurrences.
    
    Returns a new DataFrame with columns:
      - 'LOCATION'
      - 'Event_Count'
    """
    # Group by 'LOCATION' and count the occurrences of 'EVENT_ID'
    count_df = df.groupby('LOCATION')['EVENT_ID'].count().reset_index()
    count_df.rename(columns={'EVENT_ID': 'Event_Count'}, inplace=True)
    return count_df


event_counts = count_event_ids_by_location(filtered_storm_df)
print(event_counts.head())

                       LOCATION  Event_Count
0          (AGS)BUSH FLD AUGUST            1
1           (CSG)COLUMBUS METRO            2
2          (GVL)GAINESVILLE MEM            2
3          (LSF)LAWSON AAF FT B            1
4  (MGR)MOULTRIE MUNICIPAL ARPT            5

In [ ]:

def calculate_rate_change(filtered_df, year1=1985, year2=2023):
    """
    Given a DataFrame that includes a 'Year' column along with 
    'LOCATION' and 'EVENT_ID' columns, this function:
      1. Filters the data to only include rows for year1 and year2.
      2. Counts the number of events (EVENT_ID) by LOCATION for each year.
      3. Merges the counts (inner join on LOCATION, so only locations present in both years are kept).
      4. Calculates the rate of change using:
         (count_year2 - count_year1) / count_year1.
    
    Returns a DataFrame with columns:
      - 'LOCATION'
      - 'count_year1'
      - 'count_year2'
      - 'rate_change'
    """
    
    # Filter data for each target year
    df_year1 = filtered_df[filtered_df['Year'] == year1]
    df_year2 = filtered_df[filtered_df['Year'] == year2]
    
    # Count events per location for each year
    count_year1 = df_year1.groupby('LOCATION', as_index=False)['EVENT_ID'].count()
    count_year1.rename(columns={'EVENT_ID': 'count_year1'}, inplace=True)
    
    count_year2 = df_year2.groupby('LOCATION', as_index=False)['EVENT_ID'].count()
    count_year2.rename(columns={'EVENT_ID': 'count_year2'}, inplace=True)
    
    # Merge counts for locations present in both years
    merged_counts = pd.merge(count_year1, count_year2, on='LOCATION', how='inner')
    
    # Calculate the rate of change. If count_year1 is zero, the division will produce inf/NaN.
    merged_counts['rate_change'] = (merged_counts['count_year2'] - merged_counts['count_year1']) / merged_counts['count_year1']
    
    return merged_counts


rate_change_df = calculate_rate_change(filtered_storm_df, year1=1985, year2=2023)
print(rate_change_df.head())

KeyError: 'Year'

In [ ]:
rate_change_df.to_csv("rate_change_per_location.csv", index=False)