In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import re
import os

/var/folders/mp/gmc62dp11n708wvtvkhzfldc0000gn/T/ipykernel_36680/1665983800.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [ ]:

def load_storm_data():
    folder_path = "/Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Storm Data 1985-2024"  
    pattern = os.path.join(folder_path, "StormDetail_*.csv")  
    
    csv_files = glob.glob(pattern)  # Returns a list of all matching CSV file paths
    
    dataframes = []
    for file_path in csv_files:
        df = pd.read_csv(file_path)
        dataframes.append(df)
    
    if dataframes:
        combined_df = pd.concat(dataframes, ignore_index=True)
        return combined_df
    else:
        return pd.DataFrame()

storm_df = load_storm_data()

/var/folders/mp/gmc62dp11n708wvtvkhzfldc0000gn/T/ipykernel_36680/1470834919.py:10: DtypeWarning: Columns (29,34,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/mp/gmc62dp11n708wvtvkhzfldc0000gn/T/ipykernel_36680/1470834919.py:10: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/mp/gmc62dp11n708wvtvkhzfldc0000gn/T/ipykernel_36680/1470834919.py:10: DtypeWarning: Columns (26,48) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/mp/gmc62dp11n708wvtvkhzfldc0000gn/T/ipykernel_36680/1470834919.py:10: DtypeWarning: Columns (26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/mp/gmc62dp11n708wvtvkhzfldc0000gn/T/ipykernel_36680/1470834919.py:10: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

In [4]:
def load_selected_storm_data(folder_path, years=[2000, 2001, 2002, 2003, 2004, 2005, 2019, 2020, 2021, 2022, 2023, 2024]):
    dataframes = []
    for year in years:
        file_path = os.path.join(folder_path, f"StormDetail_{year}.csv")
        if os.path.exists(file_path):
            df = pd.read_csv(file_path)
            dataframes.append(df)
        else:
            print(f"File for year {year} does not exist.")
    
    if dataframes:
        return pd.concat(dataframes, ignore_index=True)
    else:
        return pd.DataFrame()

# Usage
folder_path = "/Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Storm Data 1985-2024"
selected_storm_df = load_selected_storm_data(folder_path)

selected_storm_df.tail()

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
711497,202407,4,1500,202407,4,1600,195150,1206283,ALABAMA,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Heat index values reached 105 to 109 degrees f...,The heat index peaked at 110 degrees for a sho...,CSV
711498,202407,4,1100,202407,4,1800,195150,1206284,ALABAMA,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Heat index values reached 105 to 109 degrees f...,The heat index reached 105 to 109 degrees.,CSV
711499,202407,6,1258,202407,6,1258,192857,1198392,NEBRASKA,31.0,...,8.0,SW,LEXINGTON ARPT,40.71,-99.88,40.71,-99.8800,"A broad, upper trough was over most of the cou...",NaN,CSV
711500,202407,6,1523,202407,6,1535,192857,1198427,NEBRASKA,31.0,...,1.0,SE,HASTINGS,40.60,-98.43,40.57,-98.3696,"A broad, upper trough was over most of the cou...",A wind gust of 69 MPH was measured by the Hast...,CSV
711501,202407,6,1645,202407,6,1645,192857,1198773,NEBRASKA,31.0,...,1.0,NW,GENEVA,40.54,-97.59,40.54,-97.5900,"A broad, upper trough was over most of the cou...",NaN,CSV

In [ ]:
selected_storm_df = selected_storm_df[["YEAR", "EVENT_ID", "CZ_NAME", "STATE","EVENT_TYPE", "BEGIN_DATE_TIME", "END_DATE_TIME"]]
selected_storm_df = selected_storm_df[
    ((selected_storm_df["EVENT_TYPE"] == "Flood") | 
     (selected_storm_df["EVENT_TYPE"] == "Flash Flood") | 
     (selected_storm_df["EVENT_TYPE"] == "Coastal Flood")) &
    (selected_storm_df["STATE"] == "GEORGIA")
]
selected_storm_df

,YEAR,EVENT_ID,CZ_NAME,STATE,EVENT_TYPE,BEGIN_DATE_TIME,END_DATE_TIME
5453,2000,5135328,BEN HILL,GEORGIA,Flash Flood,30-MAR-00 07:00:00,30-MAR-00 11:15:00
5731,2000,5135327,IRWIN,GEORGIA,Flash Flood,30-MAR-00 07:00:00,30-MAR-00 11:15:00
5855,2000,5133313,CRISP,GEORGIA,Flash Flood,30-MAR-00 10:30:00,30-MAR-00 10:30:00
5856,2000,5133314,DOOLY,GEORGIA,Flash Flood,30-MAR-00 10:30:00,30-MAR-00 10:30:00
5857,2000,5133315,WILCOX,GEORGIA,Flash Flood,30-MAR-00 10:30:00,30-MAR-00 10:30:00
...,...,...,...,...,...,...,...
710912,2024,1209448,TURNER,GEORGIA,Flash Flood,25-SEP-24 21:57:00,25-SEP-24 23:15:00
710993,2024,1209455,TIFT,GEORGIA,Flash Flood,25-SEP-24 21:57:00,25-SEP-24 23:15:00
710994,2024,1209457,TURNER,GEORGIA,Flash Flood,25-SEP-24 23:15:00,26-SEP-24 02:15:00
711074,2024,1209458,WORTH,GEORGIA,Flash Flood,25-SEP-24 23:00:00,26-SEP-24 02:15:00
711075,2024,1209459,WORTH,GEORGIA,Flash Flood,25-SEP-24 23:00:00,26-SEP-24 02:15:00

In [ ]:

selected_storm_df["year"] = pd.to_datetime(selected_storm_df["BEGIN_DATE_TIME"], errors="coerce").dt.year
event_counts = selected_storm_df.groupby(["year", "CZ_NAME"], as_index=False)["EVENT_ID"].count()
event_counts.rename(columns={"EVENT_ID": "event_count"}, inplace=True)

event_counts

/var/folders/mp/gmc62dp11n708wvtvkhzfldc0000gn/T/ipykernel_36680/2863138783.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  selected_storm_df["year"] = pd.to_datetime(selected_storm_df["BEGIN_DATE_TIME"], errors="coerce").dt.year

     year   CZ_NAME  event_count
0    2000   BALDWIN            1
1    2000    BARTOW            1
2    2000  BEN HILL            1
3    2000   BERRIEN            1
4    2000      BIBB            2
..    ...       ...          ...
723  2024     TROUP            1
724  2024    TURNER            5
725  2024    WALTON            2
726  2024     WAYNE            1
727  2024     WORTH            8

[728 rows x 3 columns]

In [7]:
count_2023 = event_counts[event_counts["year"] == 2023]
count_2024 = event_counts[event_counts["year"] == 2024]

merged_counts = pd.merge(count_2023, count_2024, on="CZ_NAME", suffixes=("_2023", "_2024"))

merged_counts["rate_change_percent"] = ((merged_counts["event_count_2024"] - merged_counts["event_count_2023"]) /
                                          merged_counts["event_count_2023"]) * 100

merged_counts

,year_2023,CZ_NAME,event_count_2023,year_2024,event_count_2024,rate_change_percent
0,2023,BERRIEN,4,2024,8,100.000000
1,2023,BROOKS,4,2024,7,75.000000
2,2023,BULLOCH,1,2024,2,100.000000
3,2023,BURKE,1,2024,12,1100.000000
4,2023,CANDLER,2,2024,1,-50.000000
5,2023,COASTAL GLYNN,3,2024,1,-66.666667
6,2023,COLQUITT,1,2024,4,300.000000
7,2023,COLUMBIA,1,2024,7,600.000000
8,2023,DOUGHERTY,8,2024,12,50.000000
9,2023,EARLY,3,2024,3,0.000000
10,2023,ELBERT,1,2024,1,0.000000
11,2023,LEE,1,2024,6,500.000000
12,2023,LOWNDES,21,2024,18,-14.285714
13,2023,MITCHELL,1,2024,21,2000.000000
14,2023,PIKE,18,2024,10,-44.444444
15,2023,RICHMOND,3,2024,1,-66.666667
16,2023,TERRELL,1,2024,2,100.000000
17,2023,THOMAS,11,2024,19,72.727273
18,2023,TROUP,3,2024,1,-66.666667
19,2023,WALTON,3,2024,2,-33.333333
20,2023,WAYNE,1,2024,1,0.000000
21,2023,WORTH,7,2024,8,14.285714

In [13]:
def compare_two_time_spans(event_counts):
  
    group1 = event_counts[
        event_counts["year"].between(2000, 2005)
    ].groupby("CZ_NAME", as_index=False)["event_count"].sum()
    group1.rename(columns={"event_count": "event_count_2000_2005"}, inplace=True)
    

    group2 = event_counts[
        event_counts["year"].between(2019, 2024)
    ].groupby("CZ_NAME", as_index=False)["event_count"].sum()
    group2.rename(columns={"event_count": "event_count_2019_2024"}, inplace=True)
    
    merged_counts = pd.merge(group1, group2, on="CZ_NAME", how="outer")
    
    # If a CZ_NAME exists in one group but not the other, fill missing counts with 0.
    merged_counts["event_count_2000_2005"] = merged_counts["event_count_2000_2005"].fillna(0)
    merged_counts["event_count_2019_2024"] = merged_counts["event_count_2019_2024"].fillna(0)
    
    # If the 2000-2005 count is 0, set it to NaN (avoid division by zero).
    merged_counts["rate_change_percent"] = np.where(
        merged_counts["event_count_2000_2005"] == 0,
        np.nan,
        ((merged_counts["event_count_2019_2024"] - merged_counts["event_count_2000_2005"]) 
          / merged_counts["event_count_2000_2005"]) * 100
    )
    
    return merged_counts

final_result = compare_two_time_spans(event_counts)
final_result

,CZ_NAME,event_count_2000_2005,event_count_2019_2024,rate_change_percent
0,APPLING,1.0,2.0,100.000000
1,ATKINSON,2.0,2.0,0.000000
2,BACON,3.0,0.0,-100.000000
3,BAKER,1.0,3.0,200.000000
4,BALDWIN,3.0,4.0,33.333333
...,...,...,...,...
159,WHITFIELD,8.0,19.0,137.500000
160,WILCOX,3.0,3.0,0.000000
161,WILKES,3.0,2.0,-33.333333
162,WILKINSON,1.0,1.0,0.000000
163,WORTH,1.0,34.0,3300.000000

In [16]:
final_result.to_csv("rate_change_per_county_Storm.csv", index=False)

In [17]:


 # def load_location_data(folder_path):
    """
    1) Loads all 'StormEvents_locations-ftp_v1.0_dXXXX_*.csv' files from 'folder_path'.
    2) Concatenates them into a single DataFrame.
    3) Renames each file from 'StormEvents_locations-ftp_v1.0_dYYYY_c...csv'
       to 'Location_YYYY.csv'.
    """

    # Construct the pattern to find files
    pattern = os.path.join(folder_path, "*.csv")
    csv_files = glob.glob(pattern)

    # Load them into a list of DataFrames
    dataframes = []
    for file_path in csv_files:
        location = pd.read_csv(file_path)
        dataframes.append(location)

    # Rename each file based on the 4-digit year in the pattern 'dYYYY'
    for file_path in csv_files:
        file_name = os.path.basename(file_path)
        match = re.search(r"_d(\d{4})_", file_name)
        if match:
            year = match.group(1)  # e.g., '2018'
            new_file_name = f"Location_{year}.csv"
            new_file_path = os.path.join(folder_path, new_file_name)
            
            # Rename on disk
            os.rename(file_path, new_file_path)
            print(f"Renamed '{file_name}' -> '{new_file_name}'")
        else:
            print(f"Could not find year in '{file_name}' (no rename done).")

    # Combine all DataFrames into one
    if dataframes:
        combined_location = pd.concat(dataframes, ignore_index=True)
        return combined_location
    else:
        return pd.DataFrame()


folder = "/Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024"
location_df = load_location_data(folder)
print(location_df.head())

IndentationError: unexpected indent (3824008478.py, line 2)

In [ ]:
# def select_event_location_columns(df):
    """
    Given a DataFrame from your location files,
    this function returns a new DataFrame containing only the
    'EVENT_ID' and 'LOCATION' columns.
    
    If the columns are named differently (e.g., 'Location' instead of 'LOCATION'),
    update the column names accordingly.
    """
    # Select only the desired columns.
    # Adjust the names if your actual DataFrame has a different case/spelling.
    selected_df = df[['EVENT_ID', 'LOCATION']]
    
    return selected_df


selected_location_df = select_event_location_columns(location_df)
print(selected_location_df.head())

   EVENT_ID   LOCATION
0    285976    GILLHAM
1    285978  CENTER PT
2    285979   DE QUEEN
3    285980   DE QUEEN
4    285981       DIAN

In [ ]:
# def merge_storm_detail_location(storm_detail_folder, location_folder):
    """
    For each StormDetail_XXXX.csv file in storm_detail_folder, this function:
      1. Extracts the year (XXXX) from the filename.
      2. Looks for a corresponding Location_XXXX.csv file in location_folder.
      3. Loads both CSVs.
      4. Merges them on 'EVENT_ID'.
      5. Selects only the 'EVENT_ID' and 'location' columns.
    
    It returns a combined DataFrame with merged data for all years.
    """
    # Pattern for storm detail files: e.g., StormDetail_2000.csv, StormDetail_2001.csv, etc.
    storm_pattern = os.path.join(storm_detail_folder, "StormDetail_*.csv")
    storm_files = glob.glob(storm_pattern)
    
    merged_list = []
    
    for storm_file in storm_files:
        # Extract the 4-digit year from the filename
        base_name = os.path.basename(storm_file)
        match = re.search(r"StormDetail_(\d{4})\.csv", base_name)
        if match:
            year = match.group(1)
            # Construct the expected location file name for that year.
            location_file = os.path.join(location_folder, f"Location_{year}.csv")
            
            if os.path.exists(location_file):
                # Load the two dataframes.
                storm_df = pd.read_csv(storm_file)
                location_df = pd.read_csv(location_file)
                
                # Merge them on EVENT_ID.
                merged_df = pd.merge(storm_df, location_df, on='EVENT_ID', how='inner')
                
                # Select only the EVENT_ID and location columns.
                # (Assumes location_df already has the 'location' column; if not, 
                # you may need to rename the appropriate column first.)
                merged_df = merged_df[['STATE', 'LOCATION', 'EVENT_TYPE', 'EVENT_ID']]
                
                merged_list.append(merged_df)
            else:
                print(f"Location file for year {year} not found in {location_folder}.")
        else:
            print(f"Year not found in file name: {base_name}")
    
    if merged_list:
        # Combine all merged DataFrames into one.
        final_merged = pd.concat(merged_list, ignore_index=True)
        return final_merged
    else:
        return pd.DataFrame()


storm_detail_folder = "/Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Storm Data 1985-2024"
location_folder = "/Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024"

merged_data = merge_storm_detail_location(storm_detail_folder, location_folder)
print(merged_data.head())

Location file for year 2007 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 2013 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.

/var/folders/mp/gmc62dp11n708wvtvkhzfldc0000gn/T/ipykernel_40795/1149701510.py:29: DtypeWarning: Columns (29,34,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  storm_df = pd.read_csv(storm_file)

Location file for year 2016 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 2003 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 2001 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 2000 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 1988 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 1989 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 1999 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 1998 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 1995 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 1994 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 1996 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 1997 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 1993 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 1987 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 1986 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 1992 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 1990 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 1991 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 1985 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 2019 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 2020 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
Location file for year 2009 not found in /Users/paranxiaair/Desktop/STUDY/EMORY/大三下/QTM Capstone/Deforestration-and-Flooding-in-GA/Location 1985-2024.
     STATE        LOCATION   EVENT_TYPE  EVENT_ID
0  FLORIDA  SOUTH FLOMATON  Flash Flood    213816
1  FLORIDA  SOUTH FLOMATON  Flash Flood    213816
2  FLORIDA  SOUTH FLOMATON  Flash Flood    213816
3  FLORIDA  SOUTH FLOMATON  Flash Flood    213816
4     IOWA    NEW HARTFORD        Flood    214762

In [ ]:
# NEW CODE CELL

#def filter_storm_data(merged_data):
    """
    Filters the DataFrame so that:
      - Only rows where STATE == 'GEORGIA' 
      - Only rows where EVENT_TYPE is in ['flash flood', 'coastal flood', 'flood']
      - Keeps only the columns ['STATE', 'LOCATION_ID']
    """
    # Filter rows
    filtered_df = merged_data[
        (merged_data["STATE"] == "GEORGIA") &
        ((merged_data['EVENT_TYPE'] == 'Flash Flood') | 
              (merged_data['EVENT_TYPE'] == 'Coastal Flood') |
              (merged_data['EVENT_TYPE'] == 'Flood') )
    ]
    
    # Select only the desired columns
    filtered_df = filtered_df[["STATE", "LOCATION", "EVENT_TYPE", "EVENT_ID"]]
    
    return filtered_df


filtered_storm_df = filter_storm_data(merged_data)
print(filtered_storm_df.head())

        STATE     LOCATION   EVENT_TYPE  EVENT_ID
6152  GEORGIA  CENTRAL JCT  Flash Flood    246410
6153  GEORGIA  CENTRAL JCT  Flash Flood    246410
6154  GEORGIA     SAVANNAH  Flash Flood    246410
6155  GEORGIA     SAVANNAH  Flash Flood    246410
8623  GEORGIA      CLAXTON  Flash Flood    235603

In [ ]:
# def count_event_ids_by_location(df):
    """
    Given a DataFrame with 'LOCATION' and 'EVENT_ID' columns,
    groups by LOCATION and counts the number of EVENT_ID occurrences.
    
    Returns a new DataFrame with columns:
      - 'LOCATION'
      - 'Event_Count'
    """
    # Group by 'LOCATION' and count the occurrences of 'EVENT_ID'
    count_df = df.groupby('LOCATION')['EVENT_ID'].count().reset_index()
    count_df.rename(columns={'EVENT_ID': 'Event_Count'}, inplace=True)
    return count_df


event_counts = count_event_ids_by_location(filtered_storm_df)
print(event_counts.head())

                       LOCATION  Event_Count
0          (AGS)BUSH FLD AUGUST            1
1           (CSG)COLUMBUS METRO            2
2          (GVL)GAINESVILLE MEM            2
3          (LSF)LAWSON AAF FT B            1
4  (MGR)MOULTRIE MUNICIPAL ARPT            5

In [ ]:

# def calculate_rate_change(filtered_df, year1=1985, year2=2023):
    """
    Given a DataFrame that includes a 'Year' column along with 
    'LOCATION' and 'EVENT_ID' columns, this function:
      1. Filters the data to only include rows for year1 and year2.
      2. Counts the number of events (EVENT_ID) by LOCATION for each year.
      3. Merges the counts (inner join on LOCATION, so only locations present in both years are kept).
      4. Calculates the rate of change using:
         (count_year2 - count_year1) / count_year1.
    
    Returns a DataFrame with columns:
      - 'LOCATION'
      - 'count_year1'
      - 'count_year2'
      - 'rate_change'
    """
    
    # Filter data for each target year
    df_year1 = filtered_df[filtered_df['Year'] == year1]
    df_year2 = filtered_df[filtered_df['Year'] == year2]
    
    # Count events per location for each year
    count_year1 = df_year1.groupby('LOCATION', as_index=False)['EVENT_ID'].count()
    count_year1.rename(columns={'EVENT_ID': 'count_year1'}, inplace=True)
    
    count_year2 = df_year2.groupby('LOCATION', as_index=False)['EVENT_ID'].count()
    count_year2.rename(columns={'EVENT_ID': 'count_year2'}, inplace=True)
    
    # Merge counts for locations present in both years
    merged_counts = pd.merge(count_year1, count_year2, on='LOCATION', how='inner')
    
    # Calculate the rate of change. If count_year1 is zero, the division will produce inf/NaN.
    merged_counts['rate_change'] = (merged_counts['count_year2'] - merged_counts['count_year1']) / merged_counts['count_year1']
    
    return merged_counts


rate_change_df = calculate_rate_change(filtered_storm_df, year1=1985, year2=2023)
print(rate_change_df.head())

KeyError: 'Year'

In [ ]:
# rate_change_df.to_csv("rate_change_per_location.csv", index=False)